body {
  font-family: "futura";
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: black;
    color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: black;
    color: white;
}

.header-image {
  height: 200px;
}

.text-section {
  text-align: center;
  background-color: white;
  padding: 30px;
}

.info {
  text-align: center;
  color: white;
  padding: 30px;
}

.buttonBlock {
  padding-left: 47%;
  padding-top: 20px;
 padding-bottom: 20px;
 background-color: white;
 
  
}
