body {
  font-family: "futura";
}

/* Add a black background color to the top navigation */
.navbar {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: black;
    color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: black;
    color: white;
}

.header-image {
  height: 200px;
}

.text-section {
  text-align: center;
  background-color: white;
  padding: 30px;
}
